//====================================================
//===========     Start Navbar Styling    ============
//====================================================

//************************
// NAVBAR styling Overrides
//************************
nav
{

  .navbar-brand {
    .search-box{

      position: relative;
      .search-bar
      {
        //border-radius: 5px;

      }
      .search-results
      {
        position: absolute;
        top: 42px;
        min-width: 193px;
        background-color: white;
        li{
          font-size: 12px;
          font-weight: bold;
          a{
            color:#37474F;
            span{
              color:#EF5350;
            }
          }
          a:hover{
            color: #90A4AE;
            span{
              color:#90A4AE;
            }
          }
        }

      }
    }
    img {
      height:100px;
      width:40px;
    }

  }
}
