/*====================================
========== Document styling ==============
=====================================*/

//************************
// HTML styling Overrides
//************************
html
{
  background-color: #F5F5F5 !important;
}

//************************
// Body styling Overrides
//************************
body
{
  background-color: $white-ter !important;
  // .ground-img{
  //   background-image: url("/images/blog_7.jpg");
  //   background-repeat: no-repeat;
  //   background-size: cover;
  // }
}







/*====================================
========== Text styling ==============
=====================================*/


.is-muted {
  color : $grey-light !important;
}

a.is-muted:hover {
  color: $grey !important;

}
